<div class = "centralizer">
<h1 id = "text" style="padding-top:50px"> DB Administration Area </h1>
</div>
<div class="centralizer"style="padding-top: 25px">
    <div class="card">
        <div class="card-body">
            <p class="text-center" style="font-family: 'Montserrat', sans-serif;
            font-size: 17px;
            color: #F79595;">If you have permission to access the database, click bellow</p>
            
            <a href = "/users"><button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #F79595;">
                Click to visualize database
            </button></a>
        </div>
    </div>
</div>