<%= render 'static_pages/index' %>
<div class="centralizer"style="padding-top: 25px">
    <div class="card" >
        <div class="card-body">
            <p class="text-center" style="font-family: 'Montserrat', sans-serif;            color: #F79595;
            font-weight: ligther;" id="second-card">Stay at home and avoid contact with another people</p>
            <li style="font-size:15px">Contact the people department to update how are you feeling</li>
            <li style="font-size:15px">The company bears the costs with covid-19 tests for employees in presential regime</li>
        </div>
    </div>
</div>