<%= render 'static_pages/index' %>
<div class="centralizer"style="padding-top: 25px">
    <div class="card">
        <div class="card-body">
            <p class="text-center" style="font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            color: #F79595;
            font-weight: ligther;">Stay at home when possible and follow the recommentations:</p>
            <li style="font-size:15px">Wear a mask over your nose and mouth</li>
            <li style="font-size:15px">Stay 6 feet away from others</li>
            <li style="font-size:15px">Avoid crowds</li>
            <li style="font-size:15px">Avoid poorly ventilated spaces</li>
            <li style="font-size:15px">Wash your hands often</li>
            <li style="font-size:15px">Cover coughs and sneezes</li> 
        </div>
    </div>
</div>