<h1 id="form-title" class="text-center" style="padding-top:5px;">Please fill bellow with your information!</h1>
<div class="centralizer">
    <div>
        <div class="card-body">
            <%= render 'form', user: @user %>
        </div>
    </div>
</div>


