<h1 id="form-title" class="text-center" style="padding-top:20px;">Please fill bellow with your information!</h1>
<div class="centralizer"style="padding-top: 25px">
    <div>
        <div class="card-body">
            <%= render 'form', user: @user %>
        </div>
    </div>
</div>


