<nav class="navbar navbar-inverse navbar-static-top" style="background-color: black;width:100%">
  <div class="container-fluid" style="width:100%">
    <div class="navbar-header">
      <a href="/" style="text-decoration: none; color:inherit;">
        <button type="button" id="button" class="btn btn-link">
        <span>Home</span>
      </a>
      </button>
      <span>|</span>
      <button type="button" id="button" class="btn btn-link">
        <a href="/administration" style="text-decoration: none; color:inherit;">
          <span>DB Administration</span>
        </a>
      </button>
      <span>|</span>
    </div>
    <!-- Conteudo exibido em telas maiores e que serao escondidos em telas menores -->
      <div class="collapse navbar-collapse" id="expanded-menu"></div>
  </div>
</nav>